body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}
.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:15rem;
    gap: 1rem;
};
#Respons{
    width: 10%;
    height: 1rem;
    border: 1px solid black;
}
#RestantTryes{
    border: 1px solid black;
    width: 8vw;
    max-width: 40px;
    text-align: center;
}
#Question{
    max-width: 40vw;
    font-size: 1.5rem;
}